RS485_flow.json
[{"id":"9af49e38.c5e4f","type":"tab","label":"RS485","disabled":false,"info":""},{"id":"380d6bb9.27dff4","type":"function","z":"9af49e38.c5e4f","name":"send command to all","func":"\n\nvar header = Buffer.from([ \n    \"0x24\", \n    \"0x24\", \n    msg.topic & 0xFF, \n    (msg.topic >> 8) & 0xFF, \n    (msg.topic >> 16) & 0xFF, \n    (msg.topic >> 24) & 0xFF, \n    msg.payload.length & 0xFF, \n    (msg.payload.length >> 8) & 0xFF, \n    (msg.payload.length >> 16) & 0xFF, \n    (msg.payload.length >> 24) & 0xFF, \n    \"0x24\", \n    \"0x24\" ]);\nvar buffer = Buffer.concat([header, Buffer.from(msg.payload)]);\n\nreturn { payload: buffer };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":180,"wires":[["4dec6fc0.ccb02"]]},{"id":"95ec1ce5.ecc6b","type":"inject","z":"9af49e38.c5e4f","name":"Capture Wifi","props":[{"p":"payload"},{"p":"topic","v":"0x2000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x01\", \"200\", \"0x00\", \"0x00\", \"0x00\", \"0x02\", \"0x06\", \"0x30\"]","payloadType":"bin","x":440,"y":220,"wires":[["380d6bb9.27dff4"]]},{"id":"4dec6fc0.ccb02","type":"tcp out","z":"9af49e38.c5e4f","host":"192.168.3.41","port":"8886","beserver":"client","base64":false,"end":false,"name":"","x":1080,"y":180,"wires":[]},{"id":"f0220850.540cb8","type":"inject","z":"9af49e38.c5e4f","name":"Read Wifi","props":[{"p":"payload"},{"p":"topic","v":"0x2001","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.91","topic":"","payload":"[\"11\", \"0x01\", \"0x00\", \"0x00\", \"0x00\"]","payloadType":"bin","x":430,"y":260,"wires":[["380d6bb9.27dff4"]]},{"id":"637ff3be.0015ec","type":"inject","z":"9af49e38.c5e4f","name":"Capture Temp","props":[{"p":"payload"},{"p":"topic","v":"0x2000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.05","topic":"","payload":"[\"0x02\"]","payloadType":"bin","x":440,"y":180,"wires":[["380d6bb9.27dff4"]]},{"id":"29768775.2cf3c8","type":"inject","z":"9af49e38.c5e4f","name":"Read Temp","props":[{"p":"payload"},{"p":"topic","v":"0x2001","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"[\"12\", \"0x01\", \"0x00\", \"0x00\", \"0x00\"]","payloadType":"bin","x":440,"y":300,"wires":[["380d6bb9.27dff4"]]},{"id":"ca14cf00.7128b","type":"function","z":"9af49e38.c5e4f","name":"receive command","func":"var retMessages = [];\nvar flowVals = flow.get(\"gateRS485\")\n\nvar headerState = 0;\nvar dataState = 0;\nvar address = 0\nvar readIndex = 0\nvar readLength = 0;\nvar readData = [];\n    \nif(flowVals)\n{\n    headerState = flowVals.headerState;\n    dataState = flowVals.dataState;\n    address = flowVals.address\n    readIndex = flowVals.readIndex\n    readLength = flowVals.readLength;\n    readData = flowVals.readData;\n}\n\nfor(var i=0; i < msg.payload.length; i++)\n{\n    var serialInput = msg.payload[i];\n  //this is triggered by the state machine below it\n  if(dataState == 10)\n  {\n    if(readIndex != readLength)\n    {\n      readData[readIndex] = serialInput;\n      readIndex++;\n    }\n    \n    if(readLength == readIndex)\n    {\n      readLength = 0;\n      readIndex = 0;\n      dataState = 0;//end data state machine\n      retMessages.push({ payload: readData, topic: address });\n    }\n  }\n  \n  //this header state machine always runs in case the length is somehow boggus and has this thing stuck\n  if(headerState == 0 && serialInput == 36)\n  {\n    headerState = 10;//header start signal\n  }\n  else if(headerState == 10 && serialInput == 36)\n  {\n    headerState = 20;//header start signal\n  }\n  else if(headerState == 20)\n  {\n    headerState = 30;//address LSB\n    address = serialInput;\n  }\n  else if(headerState == 30)\n  {\n    headerState = 40;//address\n    address |= serialInput << 8;\n  }\n  else if(headerState == 40)\n  {\n    headerState = 50;//address\n    address |= serialInput << 16;\n  }\n  else if(headerState == 50)\n  {\n    headerState = 60;//address MSB\n    address |= serialInput << 24;\n  }\n  else if(headerState == 60)\n  {\n    readLength = serialInput;//length LSB\n    headerState = 70;\n  }\n  else if(headerState == 70)\n  {\n    readLength |= serialInput << 8;//length\n    headerState = 80;//length\n  }\n  else if(headerState == 80)\n  {\n    readLength |= serialInput << 16;//length\n    headerState = 90;//length\n  }\n  else if(headerState == 90)\n  {\n    readLength |= serialInput << 24;//length\n    headerState = 100;//length\n  }\n  else if(headerState == 100 && serialInput == 36)\n  {\n    headerState = 110;//header end signal\n  }\n  else if(headerState == 110 && serialInput == 36)\n  {\n    readIndex = 0;\n    dataState = 10;\n    headerState = 0;//header end signal\n  }\n  else if(headerState == 100 && serialInput == 82)\n  {\n    headerState = 110;//header end reset signal\n  }\n  else if(headerState == 110 && serialInput == 82)\n  {\n    dataState = 0;\n    headerState = 0;//header end reset signal\n  }\n  else\n  {\n    headerState = 0;\n  }\n}\n\nflow.set(\"gateRS485\", { headerState, dataState, address, readIndex, readLength, readData });\n\nif(retMessages.length > 0)\n    return retMessages;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":380,"wires":[["13ea9ec0.d80881"]]},{"id":"e24e7602.765168","type":"tcp in","z":"9af49e38.c5e4f","name":"","server":"client","host":"192.168.3.41","port":"8886","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":460,"y":380,"wires":[["ca14cf00.7128b"]]},{"id":"ae51370c.68e2f8","type":"debug","z":"9af49e38.c5e4f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":380,"wires":[]},{"id":"13ea9ec0.d80881","type":"function","z":"9af49e38.c5e4f","name":"read temp/humid","func":"var arr = new Float32Array(new Uint8Array(msg.payload).buffer);\n\nreturn {payload: {temperature: arr[0], humidity: arr[1]}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":380,"wires":[["ae51370c.68e2f8"]]}]